﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>@ViewBag.Title</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/Content/bootstrap.min.css"/>
        <link rel="stylesheet" href="/Content/cover.css" />

    </head>
    <body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Connect 4</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    @RenderBody()
                </div>


                <div class="mastfoot">
                    <div class="inner">

                    </div>
                </div>

            </div>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>

</body>
</html>
